.main{
	text-align: center;
	margin-top: 100px;
}
#step{width: 173px;}
table{text-align: left;}
td{vertical-align: middle !important;}
#history{
	height: auto;
  	max-height: 180px;
  	overflow: auto;
}
#history li{list-style-type: none;}
.fade-transition{
  	transition: all 0.5s;
  	opacity: 1;
}
.fade-enter, .fade-leave{ opacity: 0;}
.fade-move{transition: transform 0.5s cubic-bezier(.55,0,.1,1);}
.rank1{color: #FFD700;}
.rank2{color: #C0C0C0;}
.rank3{color: #CD7F32;}
