<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ScoreKeeper</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">ScoreKeeper</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Home</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container main">
		<div class="alert alert-warning" v-show="warning" transition="fade">
			<span class="glyphicon glyphicon-warning-sign"></span> {{ warning }}
		</div>
		<label for="newPlayer">Add a player : </label>
		<input id="newPlayer" type="text" v-model="name" v-on:keyup.enter="addPlayer()" autofocus>
		<button v-on:click="addPlayer()" class="btn btn-default">Add</button><br/>
		
		<label for="step">Step : </label>
		<input id="step" type="number" v-model="step" value="{{step}}">

		<div class="container">
			<table class="table table-striped">
				<thead v-show="players.length">
					<tr>
						<th>Rank</th>
						<th>Name</th>
						<th>Points</th>
						<th>Add points</th>
						<th>Substract points</th>
						<th>Reset</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="player in players" transition="fade">
						<td v-if="$index+1 < 4" class="rank{{$index+1}}"> {{ $index+1 | rank }} </td>
						<td v-else> {{ $index+1 | rank }} </td>
						<td>{{ player.name | capitalize }}</td>
						<td>{{ player.points }}</td>
						<td><button v-on:click="addPoints($index)" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button></td> 
						<td><button v-on:click="reducePoints($index)" class="btn btn-default"><span class="glyphicon glyphicon-minus-sign"></span></button></td> 
						<td><button v-on:click="resetScore($index)" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></button></td>
						<td><button v-on:click="removePlayer($index)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<button v-on:click="resetAllScore()" class="btn btn-default"> Reset scores </button>
			<button v-on:click="reset()" class="btn btn-default"> Reset all </button>
		</div>

		<h4 v-show="history.length">Game's History</h4>
		<select v-show="players.length" v-model="historyName" class="form-control">
			<option value="" selected>All</option>
			<option v-for="player in players" value="{{player.name}}">{{ player.name | capitalize }}</option>
		</select>

		<ul id="history" class="list-group">
			<li v-for="action in history | filterBy filterHistory" class="list-group-item" track-by="$index">{{ action | capitalize }}</li>
		</ul>

	</div>

	<footer class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<a class="navbar-brand" href="https://github.com/Oli8/scoreKeeper" target="_blank">Sources</a>
		</div>
	</footer>

	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-animated-list.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>